<h1>Payment Calculation</h1>
<form action="/payment/results">
    <div>
    <Label for="apr_input">APR</Label>
    <input id= "apr_input" type ="text" name="user_apr">
    </div>
    <div>
    <Label for="term_input">Number of years</Label>
    <input id= "term_input" type ="text" name="user_term">
    </div>
    <div>
    <Label for="principal_input">Principal</Label>
    <input id= "principal_input" type ="text" name="user_principal">
    </div>
    <button>Calculate monthly payment</button>
</form>