<h1>Payment Results</h1>
<dl>
    <div>
    <dt>APR</dt>
    <dd><%= number_to_percentage(@apr, :precision => 4) %></dd>
    </div>
    <div>
        <dt>Number of years</dt>
    <dd><%= @term %></dd>
    </div>
    <div>
        <dt>Principal</dt>
    <dd><%= number_to_currency(@principal, :precision =>2) %></dd>
    </div>
    <dt>Payment</dt>
    <dd><%= number_to_currency(@payment, :precision => 2) %></dd>
    
</dl>