<h1>Payment Results</h1>
<form action="/random/new">
<dl>
    <div>
    <dt>Minimum</dt>
    <dd><%= @min %></dd>
    </div>
    <div>
        <dt>Maximum</dt>
    <dd><%= @max %></dd>
    </div>
    <div>
        <dt>Random Number</dt>
    <dd><%= @random %></dd>
    </div>
    <search>Pick another random number</search>
    
</dl>
</form>